<%= form_for(@event, html: { class: 'wide' } ) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation" class="errors">
      <h2 class="error-title">Whoops, just <%= pluralize(@event.errors.count, "thing") %> before we can save this:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, placeholder: "Event Title" %>
  </div>
  <div class="field half">
    <%= f.label :start_date %><br>
    <%= f.text_field :start_date , value: Time.now.strftime("%Y/%m/%d %H:00") %>
  </div>
  <div class="field half">
    <%= f.label :end_date %><br>
    <%= f.text_field :end_date %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: 6 %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location, placeholder: "1 Main Street, Boston MA" %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url, placeholder: "http://eventwebsite.com" %>
  </div>
  <div class="field">
    <%= f.label :pricing %><br>
    <%= f.text_field :pricing, placeholder: "Leave blank if free" %>
  </div>
  <div class="field half">
    <%= f.label :organizer %><br>
    <%= f.text_field :organizer, placeholder: "First Last" %>
  </div>
  <div class="field half">
    <%= f.label :contact_email %><br>
    <%= f.text_field :contact_email, placeholder: "organizer@email.com" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>



<!-- inlined js... meh.. -_- -->

<script>
  $('#event_start_date').datetimepicker({
    startDate:'+1971/05/01'//or 1986/12/08
  });

  $('#event_end_date').datetimepicker({
    startDate:'+1971/05/01'//or 1986/12/08
  });
</script>
